.header {

    &__rowTop {
        background: rgb(34,34,34);
        background: linear-gradient(135deg, rgba(34,34,34,1) 26%, rgba(34,34,34,1) 75%, rgba(235,168,0,1) 75%);

        @include media-breakpoint-only(xs) {
            display: none;
        }

        &__columnLeft {
            // background-color: #222;
            padding: 10px 0;

            &:after {
                // content: '';
                // display: block;
                // background-color: #222;
                // height: 50px;
                // width: 41px;
                // position: absolute;
                // top: -13px;
                // right: -14px;
                // transform: rotate(28deg);

                // @include media-breakpoint-only(sm) {
                //     right: 88px;
                // }
                // @include media-breakpoint-only(lg) {
                //     right: 20px;
                // }
                // @include media-breakpoint-only(sm) {
                //     right: 50px;
                // }
            }

            ul {
                display: flex;
                align-items: center;
                margin: 0;

                li {
                    display: flex;
                    a {
                        margin: 0 30px;
                        color: #f2f2f2;
                    }
                }
            }
        }

        &__columnRight {
            padding: 10px 0 10px 50px;
            text-align: right;

            @include media-breakpoint-only(lg) {
                @include type-1(12);
            }
            @include media-breakpoint-only(md) {
                @include type-1(12);
            }

            p {
                color: #fff;
                margin: 0;
            }
        }
    }

    &__rowCenter {
        
        background-color: #fff;
        padding: 30px 0;

        &__logo {
            @include media-breakpoint-only(xs) {
                text-align: center;
                padding-bottom: 20px;
            }
        }

        &__office {
            ul {
                display: flex;
                align-items: center;;

                li {
                    margin-right: 10px;
                    p {
                        margin: 0;
                        line-height: 21px;
                        @include type-1(14);

                        &:nth-child(2){
                            line-height: 14px;
                            font-weight: bold;
                            @include type-1(14);
                        }
                    }
                    
                }
            }
        }

        &__contact {

            @include media-breakpoint-only(xs) { 
                justify-content: flex-start !important;
            }

            ul {
                display: flex;
                align-items: center;

                li {
                    margin-right: 10px;
                    p {
                        margin: 0;
                        line-height: 21px;
                        @include type-1(14);

                        &:nth-child(2){
                            line-height: 14px;
                            font-weight: bold;
                            @include type-1(14);
                        }
                    }

                }
            }
        }
    }

    &__rowBottom {
        background-color: #0a2c4e;
        padding: 15px 0;
        &__nav {

            &__menu {
                display: flex;
                margin: 0;

                @include media-breakpoint-only(xs) { 
                    position: fixed;
                    top: -10px;
                    right: -600px;                
                    transition: all 0.7s;
                }

                .menu-close {
                    display: none;

                @include media-breakpoint-only(xs) { 
                    display: block;
                    position: absolute;
                    top: 10px;
                    right: 80px;
                    color: #fff;
                }

                }

                li {
                    a {
                        margin-right: 40px;
                        color: white;
                        text-transform: uppercase;
                        text-decoration: none;

                        &:hover {
                            color: #ccc;
                        }
                    }
                }
            }

            .menu-burgue{
                display: none;
                @include media-breakpoint-only(xs) {
                    display: block;
                    opacity: 1;
                    color: #fff;
                    i {
                        cursor: pointer;
                    }
                }
                
            }

        }

        &__lang {
            ul {
                li {
                    
                    button {
                        color: white;
                    }
                }
            }
        }

    }


    .menuOpen {
        position: fixed;
        background-color: gray;
        top: 0px;
        z-index: 11;
        right: -63px;
        display: flex !important;
        align-items: center;
        flex-direction: column !important;
        justify-content: space-around;
        height: 100vh;
        width: 100%;

        .menu-burgue {
            display: none !important;
        }
    }

    .opacity-0 {
        opacity: 0;
    }
    .opacity-1 {
        opacity: 1;
    }

}